body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(130, 134, 137);
}


main {
    font-family: 'Manrope', sans-serif;
    width: 100%vh;
    background-color:rgb(25, 39, 52); 
    padding: 1em;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    align-content: center;
    border-radius: 5px; 
} 
 
#img-tkm {

    width: 12em;
    height: 12em;
    margin-bottom: 1em;
    margin-top: 1.7em;
}  

#img-tkm-examples{
    width: 5em;
    height: 5em;
}

footer {
    width: 100%vh;
    background: rgb(25, 39, 52);
    font-family: 'Manrope', sans-serif;
    padding: 0;
    margin: 0;
    margin-top: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 5px; 
}  

h1 {
    font-size: 1.5rem;
    color:  whitesmoke;
    font-weight: bold;
    text-align: justify;
    padding:0, 1em;
    margin: 0;
    margin-bottom: 2em;
    line-height: 1.5;
}


h2 {
    font-family: 'Manrope', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(101, 188, 70);
    text-shadow: 0px 0px 10 whitesmoke;
    padding: 0, 1em;
    margin: 0;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
    color: whitesmoke;
}

#btn-swagger {
        padding: 0.5em 1.875em;
        width: 16rem;
        margin: 2em, 0.625em;
        border: none;
        font-family: inherit;
        font-weight: 400;
        font-size: 1.2rem;
        color: white;
        border-radius: 8px;
        cursor: pointer;
        background:  rgb(101, 188, 70);
}

#btn-swagger:hover {
    background: rgb(255, 111, 0);
}

.downloads {
    display: flex;
    justify-content: end; 
    align-items: center;
    align-content: center;
    gap: 2em;
    margin-left: 1.25em;
    margin-right: 1.25em;
    font-size: 2.5rem;
}

.actions{
    display: flex;
    flex-direction:  column; 
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.actions p{
    font-size: 0.8rem;
    color: rgb(101, 188, 70);
    font-weight: bold;
}

#examples {
    display: flex;
    flex-direction: column; 
    align-items: center;
    align-content: center;
    gap: 0.5em;
    margin-left: 1.25em;
    margin-right: 1.25em;
    font-size: 2rem;
}

p {
    font-size: 0.8rem;
    color: whitesmoke;
}

#home{
    margin-top: 1em;
    font-size: 1.5rem;
}

#home:hover,
#book:hover,
#zoom:hover,
#pdf:hover,
#youtube:hover,
#whatsapp:hover
{
    color:whitesmoke;
}

#home,
#book,
#zoom,
#pdf,
#youtube,
#whatsapp
{
    color: rgb(101, 188, 70);
}

a {
    color: rgb(101, 188, 70); 
    font-weight: bold;
 }

a:link {
    color: rgb(101, 188, 70); 
 }
 
 a:visited {
     color:white; 
  }
 
 a:hover {
     color: rgb(255, 111, 0); 
  }

#legend{
    display: flex;
    gap: 0.2em;
}

@media (max-width: 800px) {
    main, footer {
        width: 100%vh;
        background: rgb(25, 39, 52); 
        padding: 1.25em, 0.2rem;
        margin: 0.35em, 0;
        display: flex;
        flex-direction: column; 
        align-items: center;
        align-content: center;
        border-radius: 5px; 
  }

  #img-tkm {

    width: 11em;
    height: 11em;
    margin-bottom: 1em;
    margin-top: 1em;
}  

  h1 {
    font-size: 1.1rem;
    margin-bottom: 2.9em;
    text-align: center;
}


h2 {
    font-size: 1.3rem;
    margin-bottom: 2em;
}  

h3 {
    margin-top: 2em;
    font-size: 0.9rem;
}  

p {
    font-size: 0.6rem;
 
}  

.downloads {
    gap: 0.8em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 2.0rem;
    margin-bottom: 1em;
    margin-top: 0.7em;
}

.actions p{
    font-size: 0.6rem;
}

#legend{
    margin: 0.5em 0;
}

}