body {
    font-family: 'Manrope', sans-serif;
    background-color: rgb(25, 39, 52);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}


#img-fo {
    width: 9em;
    height: 9em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
}  

.form-container, .form-container1, .login-container, .cp-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Use full width */
    max-width: 300px; /* Maximum width */
}

.form-container1  {
    max-width: 600px; /* Maximum width */
}

.form-container1 p {
    margin: 0;
    padding: 0.5em;
    width: 45em;
    text-align: center;
    font-size: 0.8rem;
    gap: 0.1em;
}

.twosome  {
    display: flex;
    gap: 2em;
}


.cards {
    display: flex;
    flex-direction: column;
    align-content: space-between ;
    gap: 2em;
}

#customFieldContainer, .editContainers {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.editContainers {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    align-items: start;
    align-content: space-around;
}

.cp-container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-content:space-around ;
    align-items: center;
    gap: 0.5em;
}




h2{
    margin: 0;
    padding: 0.3em;
    text-align: center;
}

h4{
    text-align: center;
}

p{
    margin: 0;
    padding: 0.5em;
    width: 22em;
    text-align: center;
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    height: 10em;
}

input[type="checkbox"] {
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
}

.checkbox-container {
    display: flex;
    align-items: center; /* Alinea verticalmente el checkbox y el label */
    gap: 8px; /* Añade espacio entre el checkbox y el label */
}

/* Opcional: Añade estilos adicionales para el label o el checkbox si es necesario */
.checkbox-container label {
    cursor: pointer;
}

.checkbox-container input[type="checkbox"] {
    cursor: pointer;
}


select {
    margin-bottom: 10px;
    cursor: pointer;
    text-align: left;
}

#showP {
    display:flex;
    align-content: center;
    align-items: center;
}

#showP p{
    text-align: left;
}


button {
    padding: 10px;
    background-color: rgb(101, 188, 70);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0.5em;
}


.deleteButton, .rudButton:hover{
    background-color: red;
}

#addLevelButton{
    background-color: blue;
    margin-bottom: 0.2em;
}

.editButton:hover,
.deleteButton:hover,
.crudButton:hover,
.rudButton, 
#createMembershipButton:hover,
.createButton:hover {
    background-color: black;
}

.crudButton{
    background-color: purple;
}


button:hover,
#logoutButton{
    background-color: rgb(255, 111, 0);
}

#logoutButton:hover, .createButton {
    background-color:rgb(101, 188, 70);
}

.editButton {
    background-color: rgb(219, 172, 52);
}



@media (max-width: 768px) {
    .form-container {
        margin: 10px; /* Add some margin on smaller screens */
    }
    body {
        display: block; /* Stack elements vertically on small screens */
        height: auto; /* Adjust height for small screens */
        padding: 10px; /* Add some padding */
    }
}
